.banniere {
	width: 100%;
	height: auto;
}

body {
	background-color: #f4f4f4;
	height: 100%;
}

.icone {
	width: 20px;
	color: rgba(255, 255, 255, .5);
}

footer {
	background-color: #343a40;
	color: rgba(255, 255, 255, .5);
	display: flex;
	flex-direction: column;
	padding: 30px 50px;
}

.footer-general {
	display: flex;
	justify-content: space-between;
}

.copyright {
	text-align: center;
}

header {
	padding: 0;
	margin: 0;
}

.carousel-inner img {
	width: 100%;
	height: 665px;
	object-fit: cover;
}

.blog-pop {
	border-right: solid 1px #6c757d;
	margin: 20px auto;
}

.article {
	border-bottom: solid 1px #6c757d;
	margin: 30px auto;
}

.article-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 20px;
	margin-bottom: 5px;
}

.article img {
	width: 300px;
	height: auto;
	object-fit: cover;
}

.article-text {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	text-align: justify;
}

article a {
	margin-bottom: 5px;
}

.blog-about {
	margin: 50px auto;
	border: 1px solid #6c757d;
	text-align: justify;
	padding: 7px;
	border-radius: 10px;
}

.blog-about img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.articles-recents img{
	width:100px;
	height: auto;
	
}

.articles-recents a{
	color:#6c757d;
	gap:5px;
	background-color:#f4f4f4;
	padding: 10px;
	border-radius:10px;
	box-shadow: 5px 2px 2px #c8c8c8 ;
	margin-bottom: 30px;
	
	
}
.articles-recents a:hover{
	text-decoration: none;
	color:#6c757d;
	background-color:#ececec;
	box-shadow: 10px 5px 5px #c8c8c8 ;
}